<h1>
  <%= title %>
</h1>

<p>This is a demonstration app built with NodeJS and deployed to Windows Azure.</p>
<p>
  Enter a URL to shorten!
</p>

<form method="POST" onsubmit="return false;">
<input type="url" name="url" required="">
  <button>Shorten</button>

  <div class="output" style="display: none;">
    Shortened URL:
    <span></span>
  </div>
</form>