<h1>
  <%= title %>
</h1>
<p>
  Enter a URL to shorten!
</p>

<form method="POST" onsubmit="return false;">
  <input type="url" name="url" required="">
    <button>Shorten</button>

    <div class="output" style="display: none;">
      Shortened URL:
      <span></span>
    </div>
  </form>