<h1><%= title %></h1>
<hr>
<p>This is an app built with NodeJS and deployed to Windows Azure. It uses Azure Table Storage for all URLs (insertion, retrieval).</p>

<form method="POST" onsubmit="return false;" class="well form-inline">
  <input type="url" name="url" required="" placeholder="http://" >
  <button type="submit" class="btn"><i class="icon-cog"></i> Shorten</button>
  
  <div class="output" style="display: none;">
    Shortened URL: <span></span>
  </div>
</form>