<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
  	var context = $("form");

  	context.submit(function(event) {
  	console.log(event);
  	});


  	$("input[type=url]")[0].focus();
  </script>
</html>